.photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
    vertical-align: middle;
}

.name{
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.myProfile{
    display: inline-block;
}

.myProfile span, .myProfile button{
    display: block;
}
