.giftBtn{
    border: none;
    border-radius: 50%;
    background-image: linear-gradient(225deg, #ff0045, #ff9890);
    cursor: help;
    float: right;
    text-align: center;
    display: inline-block;
}

.giftBtn img{
    width: 70%;
    height: 70%;
    vertical-align: middle;
    margin: 0;
}

.giftBtn:focus{
    outline: none;
}